<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} - City Guess</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Made by <a href="https://github.com/Brajenko">Gosha&#128126;</a>.
        {% endblock %}
    </div>
</body>
</html>